<%
  var popular = data.popular;
  var tech = data.tech;
  var news = data.news;
  var movies = data.movie;
%>

<div class="container show-container">
  <div class="row">
    <div class="col-sm-12">
      <h3>Most Popular</h3>
    </div>
<%if(popular){%>
  <% popular.forEach(function(feed){ %>
    <a class="col-sm-2 col-xs-4 card" href="/podcast/<%= feed.id %>">
      <img class="poster img-responsive" src="<%= feed.poster %>" alt="<%= feed.title %>">
    </a>
  <% }) %>
<% } %>
  </div>
</div>

<div class="container show-container">
  <div class="row">
    <div class="col-sm-4">
      <h3>News</h3>
    <div class="row">
    <%if(news){%>
      <% news.forEach(function(feed){ %>
        <a class="col-xs-4 col-sm-6 card" href="/podcast/<%= feed.id %>">
          <img class="poster img-responsive" src="<%= feed.poster %>" alt="<%= feed.title %>">
        </a>
      <% }) %>
    <% } %>
    </div>
  </div>

  <div class="col-sm-4">
    <h3>Technology</h3>
    <div class="row">
  <%if(tech){%>
    <% tech.forEach(function(feed){ %>
      <a class="col-xs-4 col-sm-6 card" href="/podcast/<%= feed.id %>">
        <img class="poster img-responsive" src="<%= feed.poster %>" alt="<%= feed.title %>">
      </a>
    <% }) %>
  <% } %>
    </div>
  </div>

  <div class="col-sm-4">
    <h3>Movies</h3>
    <div class="row">
  <%if(movies){%>
    <% movies.forEach(function(feed){ %>
      <a class="col-xs-4 col-sm-6 card" href="/podcast/<%= feed.id %>">
        <img class="poster img-responsive" src="<%= feed.poster %>" alt="<%= feed.title %>">
      </a>
    <% }) %>
  <% } %>
    </div>
  </div>
  </div>
</div>
