<%
  var feed = data.feed;
%>
<div class="container">
  <div class="row player-row">
    <div class="col-sm-5">
      <%if(feed.episodes[0].primaryEnclosureUrl){ %>
      <video id="podcast" controls poster="<%= feed.poster %>" class="video-js vjs-default-skin" preload="auto">
        <source src="<%= feed.episodes[0].primaryEnclosureUrl %>" type="<%= feed.episodes[0].fileType %>">
      </video>
      <% } %>
    </div>
    <div class="col-sm-7">
      <div class="feed-meta">
        <h2 class="feed-title"><%= feed.title %><span><a href="#disqus_thread"></a><span></h4>
          <% if(data.user){ %>
            <div class="vote-box">
              <div id="js-up-vote" class="vote-count"><% if(feed.upVote){ %><%= feed.upVote %><% } else { %>0<% } %></div>
              <div class="js-vote glyphicon glyphicon-thumbs-up vote up-vote" data-vote="up"></div>
            </div>
            <div class="vote-box">
              <div id="js-down-vote" class="vote-count"><% if(feed.downVote){ %><%= feed.downVote %><% } else { %>0<% } %></div>
              <div class="js-vote glyphicon glyphicon-thumbs-down vote down-vote" data-vote="down"></div>
            </div>
          <% } else { %>
            <a href="/auth/twitter">Login with Twitter</a>
          <% } %>
          <nav class="podcast-nav">
            <ul>
              <li>
                <a href="<%= feed.feed %>">RSS</a>
              </li>
              <li>
                <a href="<%= feed.site %>">Website</a>
            </ul>
          </nav>
        <p class="feed-description"><%= feed.description %></p>

      </div>
    </div>
  </div>

  <div class="row">
    <div class="jp-type-playlist" style=''>
      <div id="podcast-vjs-playlist" class="vjs-playlist jp-playlist">
        <% var episodes = feed.episodes %>
        <% for(var i = 0; i < episodes.length; i++){ %>
          <%if(episodes[i].primaryEnclosureUrl){ %>
          <div class="col-sm-12 feed-content">
            <a class='vjs-track currentTrack' href='#track-<%= i %>' data-index='<%= i %>' data-poster="<%= feed.poster %>" data-src="<%= episodes[i].primaryEnclosureUrl %>" data-type="<%= episodes[i].fileType %>">
              <h3 class="episode-title"><span class="glyphicon glyphicon-play play-icon"></span><%= episodes[i].title %></h3>
            </a>
            <time class="episode-pubdate"> - <%= episodes[i].pubDate %></time>
            <% if(episodes[i].content){ %>
              <%- episodes[i].content %>
            <% } %>
          </div>
          <% } %>
        <% } %>

      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div id="disqus_thread" class="disqus-container"></div>
    </div>
  </div>
</div>
