<%
  var feed = data.feed;
%>
<div class="container">
  <div class="row player-row">
    <div class="col-sm-5">
      <%if(feed.episodes[0].primaryEnclosureUrl){ %>
      <video id="podcast" controls poster="<%= feed.poster %>" class="video-js vjs-default-skin" preload="auto">
        <source src="<%= feed.episodes[0].primaryEnclosureUrl %>" type="<%= feed.episodes[0].fileType %>">
      </video>
      <% } %>
    </div>
    <div class="col-sm-7">
      <div class="feed-meta">
        <h2 class="feed-title"><%= feed.title %><span><a href="#disqus_thread"></a><span></h4>
        <p class="feed-description"><%= feed.description %></p>
        <% if(feed.ratingsTotal){
           var total = feed.ratingsTotal * 20;
        %>
          <h3><%= feed.ratingsTotal %></h3>
          <div class="rating" style="position: relative;">

            <div class="progress" style="width: 100px; position: absolute; top: 0;">
              <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <%= total %>%;">
                <span class="sr-only">60% Complete</span>
              </div>
            </div>
            <div class="dots" style="postion: absolute; width: 100px; top: 0; z-index: 1000;">
              <div class="dot" style="display: inline-block; height: 20px; width: 20px; border-radius: 50%; border: 1px solid black;"></div>
            </div>
        </div>
        <% } %>
        <% if(data.user){ %>
        <div class="review">
          <form action="/ratings/new" method="post">
            <div class="radio">
                <input type="radio" name="rating" id="optionsRadios1" value="1">
            </div>
            <div class="radio">
                <input type="radio" name="rating" id="optionsRadios2" value="2">
            </div>
            <div class="radio">
                <input type="radio" name="rating" id="optionsRadios3" value="3">
            </div>
            <div class="radio">
                <input type="radio" name="rating" id="optionsRadios3" value="4">
            </div>
            <div class="radio">
                <input type="radio" name="rating" id="optionsRadios3" value="5" checked>
            </div>
            <input type="submit" value="Submit" class="btn btn-default">
          </form>
        </div>
        <% } else { %>
          <a href="/auth/twitter">Login with Twitter</a>
        <% } %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="jp-type-playlist" style=''>
      <div id="podcast-vjs-playlist" class="vjs-playlist jp-playlist">
        <% var episodes = feed.episodes %>
        <% for(var i = 0; i < episodes.length; i++){ %>
          <%if(episodes[i].primaryEnclosureUrl){ %>
          <div class="col-sm-12 feed-content">
            <a class='vjs-track currentTrack' href='#track-<%= i %>' data-index='<%= i %>' data-poster="<%= feed.poster %>" data-src="<%= episodes[i].primaryEnclosureUrl %>" data-type="<%= episodes[i].fileType %>">
              <h3 class="episode-title"><span class="glyphicon glyphicon-play play-icon"></span><%= episodes[i].title %></h3>
            </a>
            <time class="episode-pubdate"> - <%= episodes[i].pubDate %></time>
            <% if(episodes[i].content){ %>
              <%- episodes[i].content %>
            <% } %>
          </div>
          <% } %>
        <% } %>

      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div id="disqus_thread" class="disqus-container"></div>
    </div>
  </div>
</div>
